// Specific CSS for your home-page
.banner {
  display: flex;
  background-image: asset-url('home/banner.jpg');
  background-size: cover;
  background-position: center;
  padding: 384px 0;
  max-width: 100%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px black;
  text-align: center;
  font-family: helvetica, arial, serif;
  font-size: 64px;
  font-weight: bold;
}

.banner p {
  text-align: center;
}
#banner-typed-text  {
color: white;
font-family: helvetica, arial, serif;
font-size: 48px;
text-align: center;
}


h2 {
font-size: 40px;
text-align: center;
margin-top: 16px;
color: $blue;
}
