// Specific CSS for your home-page

h2 {
font-size: 48px;
text-align: center;
margin-top: 16px;
color: $blue;
}

p {
font-size: 24px;
text-align: center;
margin-top: 16px;
color: $blue;
}

.card-title {
font-size: 36px;
margin-top: 16px;
color: $red;
}

.card-text {
font-size: 16px;
text-align: left;
margin-top: 8px;
color: $blue;
}

.btn btn-primary btn-sm {
  color: $red;
}
